/**
主要css文件
 */

#sourcebox {
    border: 2px solid green;
    font-size: 16px;
    padding: 5px;
    height: 300px;
    width: 99%;
}

.controllerRow {
    margin: 5px;
    border: 1px solid #ccc;
    padding: 5px;
}

.controllerRow label {
    color: brown;
}

.selected{
    color: #fff !important;
    background: green;
    padding: 5px;
}

.hidden_div{
    opacity: 0;
    height: 1px;
    overflow: hidden;
}

/*手机版本适配*/
/* 设置了浏览器宽度不大于1200px时 abc 显示900px宽度 */

@media screen and (max-width: 1200px) {
    #sourcebox {
        height: 3rem;
    }

    #msgBoxContainer{
        font-size: 2rem;
    }

    .controllerRow label {
        font-size: 1.5rem;
        color: brown;
    }

    .controllerRow button {
        font-size: 2rem;
        padding: .3rem .6rem;
        margin: 0.2rem;
    }

    #NavBox, .layui-layer-content {
        font-size: 2rem;
    }

    #NavBox button, .layui-layer-content button {
        font-size: 2rem;
        margin: .6rem 2rem;
    }

}